[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"], version = "*"}
jinja2 = "*"
celery = "*"
django-storages = "*"
psycopg = "*"
black = "*"
psycopg2-binary = "*"
pip = "==25.3"
pudb = "==2025.1.5"

[dev-packages]
black = "*"
coverage = "*"
httpie = "*"
isort = "*"
pudb = "*"
codecov = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.9"
